@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  font-size: 14px;
}

input, select, textarea {
  color-scheme: dark;
}
